@import 'home-content';
@import 'slider';
@import 'navbar';
@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poiret One', cursive;
}


